.elementor-2334 .elementor-element.elementor-element-07ad499 > .elementor-container {max-width: 803px;}
.elementor-2334 .elementor-element.elementor-element-07ad499 > .elementor-background-overlay {background-color: rgba(35,17,17,.47);opacity: 1;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2334 .elementor-element.elementor-element-07ad499 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-2334 .elementor-element.elementor-element-d8b27a1 {text-align: center;}
.elementor-2334 .elementor-element.elementor-element-d8b27a1 .elementor-heading-title {color: #fff;}
.elementor-2334 .elementor-element.elementor-element-25f5ef2 .elementor-text-editor {text-align: center;column-gap: 0px;}
.elementor-2334 .elementor-element.elementor-element-25f5ef2 {color: #fff;font-family: "Open Sans",Open Sans;font-size: 19px;}
.elementor-2334 .elementor-element.elementor-element-5f26346 {text-align: center;}